.api__item {
  overflow: hidden;
  &::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right:0;
    bottom:0;
	background-color: grey;
  opacity:0.4;
  transition: all 0.8s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  &:hover:after{
    opacity:0;
  } 

}
.api__img {
}
.api__btn {
  content:'';
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:2;
}
